.main-jumbotron{
    padding-left: 6%;
   h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 116.6%;
    color: #4F4F4F;
   }
   h1+p{
    font-size: 15px;
    line-height: 160%;
    color: #4F4F4F;
    font-family: 'Sarabun', sans-serif;
   }
   strong{
    color:#4F4F4F;
    font-family: 'Sarabun', sans-serif;
   }
}
.main-jumbotron strong + div.row{

    > img {
        height: 42.5px;
        max-width: 170px !important;
       
    }
}

.main-jumbotron img:last-of-type {
    max-width: 85%; 
}

.innerBanner{
    h3{
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 116.6%;
        color: #4F4F4F;
        text-transform: uppercase;
    }
}

.innerBanner:nth-of-type(3){
    background-color: #F9F8F7;
    div.row > div {
        align-self:center;
    }
    img{
        max-width: 450px !important; 
    }
}
.innerBanner:nth-of-type(4){
    div.row > div {
        align-self:center;
    }
    img{
        max-width: 70% !important; 
    }
}